@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 230, 230, 230;
    --background-end-rgb: 255, 255, 255;

    --primary-color: #d36767;

    --background-lighter-rgb: 245, 245, 245;
    --background-light-rgb: 235, 245, 245;
    --background-light-hover-rgb: 225, 235, 235;
    --background-light-active-rgb: 223, 223, 223;

    /* Gaps */
    --border-gap: 3px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --background-light-rgb: 30, 30, 30;
        --background-light-hover-rgb: 40, 40, 40;
    }
}

@-webkit-keyframes bg-scrolling-reverse {
    100% { background-position: -1000px 1000px; }
  }
  @-moz-keyframes    bg-scrolling-reverse {
    100% { background-position: -50px 50px; }
  }
  @-o-keyframes      bg-scrolling-reverse {
    100% { background-position: -50px 50px; }
  }
  @keyframes         bg-scrolling-reverse {
    100% { background-position: -2000px 3000px; }
  }
  
  @-webkit-keyframes bg-scrolling {
    0% { background-position: -50px -50px; }
  }
  @-moz-keyframes    bg-scrolling {
    0% { background-position: 50px 50px; }
  }
  @-o-keyframes      bg-scrolling {
    0% { background-position: 50px 50px; }
  }
  @keyframes         bg-scrolling {
    0% { background-position: 50px 50px; }
  }

body {
    color: rgb(var(--foreground-rgb));
    background: url('../assets/images/bg.png');
    background-repeat: repeat;
    background-size: 2200px 2200px;
    animation: animatedBackground 21s linear infinite;
    
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
  /*use negative width if you want it to flow right to left else and positive for left to right*/
    to {
      background-position: -2200px 2200px;
    }
  }

input {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-light-rgb));
}

input:focus {
    outline: none;
}

.bg-primary {
    background-color: rgb(var(--background-light-rgb));
}

.bg-primary-light {
    background-color: rgb(var(--background-lighter-rgb));
}

.bg-confirm {
    background-color: rgb(49, 163, 49);
}

.bg-cancel {
    background-color: rgb(220, 81, 81);
}

.game {
    display: grid;
    grid-template-columns: min-content auto auto;
    grid-template-rows: min-content 48px min-content min-content;
    grid-gap: var(--border-gap);
    gap: var(--border-gap);
    grid-template-areas: 
    "brand brand brand"
    "game-info game-info game-info"
    "player-list canvas chat"
    "misc misc misc"
    ;
}

.drop-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.text-primary {
    color: var(--primary-color);
}

.button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}